<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.watchpro">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.VIBRATE"/>
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:allowBackup="false"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true"
    android:theme="@style/BootTheme">
    
      <activity
      android:name=".MainActivity"
      android:screenOrientation="portrait"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"

      android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <meta-data android:name="io.sentry.dsn" android:value="https://b5a7c4c51d6d4c568d2f4ca629fa50ee@o1211718.ingest.sentry.io/6349370" />
      <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />

    </application>
</manifest>
